*.swp
*.co
.vimdir
cscope.*
wdmd/libwdmd.so*
wdmd/wdmd
wdmd/wdmd_client
src/libsanlock.so*
src/libsanlock_client.so*
src/sanlock
python/build/
python/usr/
tests/devcount
tests/killpath
tests/sanlk_client
tests/sanlk_load
tests/sanlk_path
tests/__pycache__/
sanlock.spec
*.tar
