*.co
*.swp
*.tar.gz
.tox/
.vimdir
cscope.*
python/*.so
python/build/
python/usr/
reset/sanlk-reset
reset/sanlk-resetd
sanlock.spec
src/libsanlock.pc
src/libsanlock.so*
src/libsanlock_client.pc
src/libsanlock_client.so*
src/sanlock
tests/*.pyc
tests/__pycache__/
tests/devcount
tests/killpath
tests/sanlk_client
tests/sanlk_load
tests/sanlk_path
wdmd/libwdmd.so*
wdmd/wdmd
wdmd/wdmd_client
