[Unit]
Description=daemon for host reset
After=syslog.target wdmd.service sanlock.service

[Service]
Type=forking
ExecStart=/usr/sbin/sanlk-resetd

[Install]
WantedBy=multi-user.target

